.logo {
  width: 100%;
  height: auto;
}

.logo img {
  width: 85%;
  height: auto;
  padding-left: 10%;
  padding-top: 25%;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .logo {
    height: auto;
    padding: 0;
  }
  .logo img {
    width: 90%;
    height: auto;
    padding-left: 10%;
    padding-top: 10%;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .logo {
    height: auto;
    padding: 0;
  }
  .logo img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .logo {
    width: 100%;
    height: auto;
    padding: 0;
  }
  .logo a img {
    width: 100%;
    height: auto;
  }
}

.texto_informativo {
  margin-top: 15%;
  width: 80%;
  height: auto;
}

.texto_informativo p {
  padding-top: 10%;
  padding-left: 10%;
  font-family: 'you-gothic-light';
  font-size: 19px;
  font-weight: bold;
  color: grey;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .texto_informativo {
    width: 100%;
    margin: 0;
    height: auto;
  }
  .texto_informativo p {
    padding: 0 4%;
    font-size: 18px;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .texto_informativo {
    width: 92%;
    margin: 0;
    margin-bottom: 8%;
    margin-left: 6%;
    height: auto;
  }
  .texto_informativo p {
    padding: 0;
    font-size: 19px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .texto_informativo {
    width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: 15%;
  }
  .texto_informativo p {
    padding: 0 7%;
    font-size: 20px;
  }
}

@media only screen and (min-device-width: 1025px) and (max-device-width: 1524px) {
  .texto_informativo {
    width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: 15%;
  }
  .texto_informativo p {
    padding: 0 7%;
    font-size: 20px;
  }
}

@media only screen and (min-device-width: 1525px) and (max-device-width: 1900px) {
  .texto_informativo {
    width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: 10%;
  }
}

.nav {
  height: auto;
  width: 80%;
  margin-top: 8%;
}

.nav__boton-menu {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .nav__boton-menu {
    display: block;
    width: 92%;
    margin: 0 4%;
    text-align: center;
    border-bottom: 1px solid #E6E6E6;
    padding-bottom: 4%;
    font-size: 22px;
    color: grey;
    margin-bottom: 10%;
    font-family: 'you-gothic-light';
  }
  .nav__boton-menu__flechita {
    font-size: 18px;
    font-family: 'you-gothic-light';
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .nav__boton-menu {
    display: block;
    width: 83%;
    margin: 0 6%;
    text-align: center;
    border-bottom: 1px solid #E6E6E6;
    padding-bottom: 4%;
    font-size: 19px;
    color: grey;
    margin-bottom: 10%;
  }
  .nav__boton-menu__flechita {
    font-size: 15px;
  }
}

.nav ul {
  list-style: none;
  font-family: 'you-gothic-light';
  font-size: 20px;
  color: grey;
  padding-left: 10%;
}

.nav ul li {
  border-top: 2px solid #E6E6E6;
  padding: 5% 0;
  font-weight: 900;
}

.nav ul li a {
  text-decoration: none;
  color: grey;
}

.nav ul .descubre:hover {
  cursor: pointer;
  font-size: 20px;
  color: black;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .nav {
    width: 100%;
    height: auto;
    margin-top: 12%;
  }
  .nav ul {
    display: none;
    padding: 0 4%;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .nav {
    width: 100%;
    height: auto;
  }
  .nav ul {
    display: none;
    width: 95%;
    padding: 0 6%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .nav {
    width: 100%;
    height: auto;
    margin: 0;
    margin: 25% 0;
  }
  .nav ul {
    font-size: 22px;
    padding: 0 7%;
  }
  .nav ul .descubre:hover {
    font-size: 24px;
  }
}

.footer {
  width: 80%;
  height: auto;
}

.footer__instagram {
  width: 20%;
  margin-left: 5%;
  text-align: center;
}

.footer__instagram a img {
  width: 40%;
  height: auto;
}

.footer__instagram a img:hover {
  cursor: pointer;
  width: 45%;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer {
    width: 100%;
    height: auto;
  }
  .footer__instagram {
    width: 20%;
    margin: 0 0;
  }
  .footer__instagram a img {
    width: 40%;
  }
  .footer__instagram a img:hover {
    cursor: pointer;
    width: 45%;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .footer {
    width: 100%;
    height: auto;
  }
  .footer__instagram {
    width: 20%;
    margin: 0 0;
  }
  .footer__instagram a img {
    width: 30%;
  }
  .footer__instagram a img:hover {
    cursor: pointer;
    width: 35%;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .footer {
    width: 100%;
    height: auto;
  }
  .footer__instagram {
    width: 30%;
    margin: 0 0;
  }
  .footer__instagram a img {
    width: 40%;
  }
  .footer__instagram a img:hover {
    cursor: pointer;
    width: 52%;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
}

@media only screen and (min-device-width: 1025px) and (max-device-width: 1524px) {
  .footer {
    width: 100%;
    height: auto;
  }
  .footer__instagram {
    width: 30%;
    margin: 0 0;
  }
  .footer__instagram a img {
    width: 32%;
  }
  .footer__instagram a img:hover {
    cursor: pointer;
    width: 38%;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
}
/*# sourceMappingURL=menu-left.css.map */